venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.env
.git/
.gitignore
app.log
*.log
app.pid
instance/
static/uploads/
.docker-test/
*.db
*.sqlite
*.sqlite3
build/
dist/
*.spec
*.exe
*.tmp
*.temp
.idea/
.vscode/
.DS_Store
Thumbs.db
