COMPOSE_PROJECT_NAME=portfolio-site
CONTAINER_NAME=portfolio-site
APP_PORT=10008
SECRET_KEY=please-change-this-to-a-long-random-secret
UPLOADS_HOST_DIR=./static/uploads
VIDEO_MAX_BYTES=1073741824
MAX_UPLOAD_BYTES=1090519040
GUNICORN_CMD_ARGS=--workers 2 --timeout 180 --access-logfile - --error-logfile -
